<%= form_for(@gadget, class: "form") do |f| %>
  <% if @gadget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gadget.errors.count, "error") %> prohibited this gadget from being saved:</h2>

      <ul>
      <% @gadget.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name, :autofocus => true %></div>

  <div><%= f.label :manufacturer %><br />
  <%= f.text_field :manufacturer %></div>

  <div><%= f.label :quantity %><br />
  <%= f.number_field :quantity %></div>

  <div><%= f.label :date_purchased %><br />
  <%= f.date_select(:date_purchased, :order => [:month, :day, :year]) %></div>

  <%= f.hidden_field :user_id, value: current_user.id.to_s %>

  <br />
  <div class="actions">
    <%= f.submit 'Submit', class: "btn btn-primary" %>
  </div>
<% end %>


