<p id="notice"><%= notice %></p>

<%= link_to "Edit this gadget", edit_gadget_path(@gadget), class: 'btn btn-primary' %>
<%= link_to "Back to all gadgets", gadgets_path, class: 'btn btn-default' %>

<h3>Gadget Details</h3>
<div class="container-fluid well span6">
  <p>
    <b>Name</b>:
    <%= @gadget.name %>
  </p>
  <p>
    <b>Manufacturer</b>:
    <%= @gadget.manufacturer.present? ? @gadget.manufacturer : "(not provided)" %>
  </p>
  <p>
    <b>Quantity</b>:
    <%= @gadget.quantity %>
  </p>
  <p>
    <b>Date purchased</b>:
    <%= @gadget.date_purchased.to_time.strftime('%B %e, %Y') %>
  </p>
</div>

<h3>Gadget Photos</h3>
<%= render "photos" %>
